doctype html
html(lang="en")
  head
    title Walk KU Login
    link(rel='stylesheet', href='/static/basic.css')
  body

    #login_dock
      h2 Login
      form#login_form
        input(type='text', id='username', placeholder='username')
        br
        input(type='password', id='password1', placeholder='Enter password')
        br
        button#try_login Submit
        br
        br
        br
      form(action="/signup")
        input(type="submit" value="Register")

        #error

    script(src="/socket.io/socket.io.js")
    script(src="../static/jquery.js")
    script.
      $('#login_form').on('submit', function(){
      $('#error').text('');
      var username = '';
      var pass1 = '';
      var username = $('#username').val();
      var pass1 = $('#password1').val();
        $.ajax("/login/"+username+"/"+pass1+"/",
          { success : function(data){
            if (data['error'] == undefined || data.length == 0) {
              if (data['success'] != undefined && data.length != 0) {
                $('#error').text(data['success']);
                  alert('reloading!');
                    location.reload(true);
                      }
                        } else {
                        $('#error').text('Error: ' + data['error']);
                          }
                          }
                        //, data : {"username":username,"password":pass1}
                        , type : "POST"
                      }
                      );
                      return false;
                      });

