.night-time-body {
  color: red;
  background-color: black;
}

#left_dock {
  float:left;
  width: 200px;
  margin-right: 20px;
}

#center_dock {
  float:left;
  width: 600px;
}

#right_dock {
  float:left;
  width: 200px;
  margin-left: 20px;
}

#users_dock {
}

.square {
 position: relative;
 height: 10px;
 width: 10px;
 background: black;
}
.square.me {
 background: green;
}

.square.them{
 background: red;
}


#map {
  border-style: solid;
  border-width: 1px;
  height:100px;
  width: 200px;
}

#users {
  border-style: solid;
  border-width: 1px;
  height:300px;
  width: 200px;
}

#direction_dock {
  height:300px;
  width: 200px;
}

#picture {
  width: 600px;
}


